@model AzureXY.Models.BoardViewModel

@{
    ViewBag.Title = "Draw";
}

<h2>Draw with your board "@(Model.Board.Name)" </h2>

<h3>Drawings queued</h3>

<table class="table">
    <tr>
        <th>
            Drawing
        </th>
        <th>
            Time
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Queue)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrawingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QueueTime)
            </td>
            <td></td>
        </tr>
    }

</table>

<h3>Available drawings</h3>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Drawings) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.ActionLink("Draw!", "Push", new { tableid = Model.Board.ID, drawingid = item.ID })
        </td>
    </tr>
}

</table>
