@model AzureXY.Models.BoardViewModel

@{
    ViewBag.Title = "Draw";
}

<h2>Draw with your board "@(Model.Board.Name)" </h2>

<hr />

<h3>Queue</h3>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Drawing
            </th>
            <th>
                Time
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Queue)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DrawingID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QueueTime)
                </td>
                <td></td>
            </tr>
        }

    </table>
</div>

<hr />

<h3>Available drawings</h3>

<p>
    @Html.ActionLink("Manage drawings", "Index", "Drawings", new { }, new { @class = "btn btn-primary" })
</p>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Drawing
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Drawings)
        {
            <tr>
                <td>
                    <div class="toolbox-thumbnail">@Html.DisplayFor(modelItem => item.Instructions)</div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Draw!", "Push", new { tableid = Model.Board.ID, drawingid = item.ID }, new { @class = "btn btn-success" })
                </td>
            </tr>
        }

    </table>
</div>
