@model IEnumerable<AzureXY.Models.Board>

@{
    ViewBag.Title = "My XY-tables";
}

<h2>@ViewBag.Title</h2>

<hr />

<p>
    @Html.ActionLink("Add a new table", "Add", new { },  new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessToken)
            </th>
            <th>
                Status
            </th>
            <th>
                Draw
            </th>
            <th>
                Get link
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessToken)
                </td>
                <td>
                    @item.RenderStatus()
                </td>
                <td>
                    @Html.ActionLink("Draw »", "Draw", new { id = item.ID }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    <a href="javascript:void(0);" class="btn btn-default" onclick="prompt('Copy link from below:','/Queue/Fetch/?id=@(item.ID)&token=@(item.AccessToken)')">Get Link</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    | @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>

